.card button{
    color: rgb(255, 255, 255);
    background-color: rgb(239, 120, 255);
    border-color: rgb(255, 0, 200); 
    border-radius: 25%;
    width: 90px;
    height: 30px;
    margin: 0 auto;
    display: block;
    justify-content: center;
}

.card img{
    width: 200px;
    height: 200px;
    border-radius: 25%;
    margin: 0 auto;
    justify-content: center;
    padding: 20px;
    display: block;

}

.card{
    width: 260px;
    height: 390px;
    background-color: antiquewhite;
    justify-content: center;
    border-radius: 20px;
}

.card h4{
    text-align: center;
    justify-content: center;
}
